.contato {
    display: flex;
    width: 100%;
}


.formulario-contato {
    width: 65%;
 
}
.contato{
    width: 100%;
}
.form{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contato img{
    width: 50%;
    object-fit: cover;
}

.form select ,.form input{
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin: 20px auto;
}

.input-formulario.textarea {
    resize: none;
    height: 150px;
    width: 100%;
    margin-bottom: 10px;
}
.botao-formulario {
    background: #f5c015;
    border: none;
    font-weight: 600;
    height: 36px;
    font-size: 18px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 5%;
    
}

