.hamburgueria{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 80px;
}
.hamburgueria p{
    font-size: 20px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
    
}
.hamburgueria h1{
    width: 90%;
    font-size: 40px;
    text-align: center;
    margin:40px auto;
}
.hamburgueria img{
    width: 50%;
    object-fit: cover;
}
.box-texto {
    text-align: center;
    width: 50%;
    margin: 20px;

}

