.hamburgueria{
    display: flex;
    justify-content: space-between;
}
.hamburgueria p{
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
    
}
.hamburgueria h1{
    margin-top: 20px;
}
.hamburgueria img{
    width: 45%;
    object-fit: cover;
}
.box-texto {
    text-align: center;
    height:max-content;
    width: 45%;
    margin-right: 5%;

}
