.sobre-nos {
    display: flex;
    width: 100%;
}
.box-texto-sobre{
    text-align: center;
    height:max-content;
    width: 50%;  

}
.box-texto-sobre p{
    width: 90%;
    font-size: 20px;
    margin: 40px auto;
}
.box-texto-sobre h2{
    margin-top: 40px;
}
.sobre-nos img {
    width: 50%;
    object-fit: cover;

}
